#container
	%h1 AIESEC McMaster Member Application
	%h3 Complete
	%p= "Thank you, #{c.full_name} for completing the form! A confirmation email has been sent to your McMaster email account. If you don't recieve a contact email, or the email is missing information, please contact aiesecmcmaster@gmail.com. You will be contacted shortly regarding your interview."
	
	