!!!  
%html  
	%head  
		%title AIESEC Registration
		%link(rel="stylesheet" href="/css/reset.css")  
		%link(rel="stylesheet" href="/css/styles.css")  
	%body   
		#frame  
			%img.banner{:src => "/pictures/banner_bw.png"}

			= yield